<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ prn }}
    <form action="/face_train_save_img/{{ prn }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Images<input name="stud_images" type="file" multiple="multiple" accept=".jpg,.png" required>
        <input type="submit" value="Submit">

    </form>
</body>
</html>